a {
	background-color: powderblue;
	color:black;
	transition:background-color .5s;
	text-decoration:none;
	font-size:25px;
}
a.otolink:hover {
	color:black;
	background-color:gold;
}
a.otolink:visited {
	background-color:gold;
}
body {
	background-color:black;
	color:white;
}
#battleField {
	background-image: url('images/bgTaki.png');
	background-repeat: no-repeat;
	background-size:cover;
}
#enemy {
	float:left;
}
#mahouE {
	float:left;
	position:relative;
}
#mahouH {
	float:right;
	position:relative;
}
#hero {
	float:right;
}
.clearFloat {
	clear: both;
}


h2 {
	font-family:century;
	display:inline-block;
	background-color:white;
	color:salmon;
	letter-spacing:1px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
}
button {
	white-space:nowrap;
	font-weight:normal;
	font-family:serif;
}
.wordsButton {
	position:relative;
	font-size:30px;
	background-color:limegreen;
}
.funcButton {
	background-color:skyblue;
}
.phrase {
		border:solid 0px white;
		background-color:white;
}
#wordsans {
	letter-spacing:1px;
	font-family:serif;
	border:solid 2px;
	padding:30px;
	font-size:50px;
	font-weight:bold;
	height:160px;
}
